id : 'nakosung'
cluster :
	terminal:
		env:
			ID_RSA_PRIV : '@file:.ssh/id_rsa'
			ID_RSA_PUB : '@file:.ssh/id_rsa.pub'
			EVERYAUTH_GITHUB : '@file:.keys/github'
		instance:
			script:'leader.sh'
			public_ip:'@file:.elastic_ip/ssh'
			instance:
				SecurityGroups : ['default','ssh_entry']
				KeyName : 'nakosung-mbp'		

	consul :
		depends:['terminal']
		env:
			CONSUL_LEADER_IP : '@role:terminal'
			ID_RSA_PUB : '@file:.ssh/id_rsa.pub'
		instance:
			script:'follower.sh'
			instance:
				MinCount : 3
				MaxCount : 3

	backend:
		depends:['consul']
		env:
			CONSUL_LEADER_IP : '@role:consul'
			ID_RSA_PUB : '@file:.ssh/id_rsa.pub'
		instance:
			script:'backend.sh'
			instance:
				InstanceType : 'm3.large'

	registry:
		depends:['consul']
		env : 
			CONSUL_LEADER_IP : '@role:consul'
			ID_RSA_PRIV : '@file:.ssh/id_rsa'			
			ID_RSA_PUB : '@file:.ssh/id_rsa.pub'
		instance:
			script:'registry.sh'
			instance:
				InstanceType : 'm3.large'

	http:
		depends:['consul','registry']
		env:
			CONSUL_LEADER_IP : '@role:consul'
			ID_RSA_PUB : '@file:.ssh/id_rsa.pub'
		instance:
			script:'http.sh'
			public_ip:'@file:.elastic_ip/http'
			instance:				
				InstanceType : 'm3.large'
				SecurityGroups : ['default','http_frontend']

